@import 'functions.less';

body {
	background: @bg;
}
.widget, article {
	text-shadow: 0 0 0 0 #fff;
}
.widget + .widget, article + article {
	margin-top: 1.5em;
}

#primary-top + #primary {
	float: right;
}
/* =Structure
-------------------------------------------------------------- */
#colophon {
	clear: both;
	display: block;
	width: 100%;
}

/* Increase the size of the content area for templates without sidebars */
.full-width #content,
.image-attachment #content,
.error404 #content {
	margin: 0;
}

/* Text meant only for screen readers */
.screen-reader-text,
.assistive-text {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
}
.alignright {
	display: inline;
	float: right;
}
.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
// Page Setup
.container {
	padding-left: 60px;
	padding-right: 60px;
}

// Header
#site-description {
	display: none;
}
#header-wrap {
	background: url(../images/header-home.jpg) repeat-x;
	margin-top: 1em;
	position: relative;
}
#header-bottom {
	background: url(../images/header-home.jpg) repeat-x 0 -684px;
	bottom: 0;
	height: 40px;
	left: 0;
	position: absolute;
	width: 100%;
}
#branding {
	position: relative;
	overflow: visible;
	z-index: 5;
}
#logo {
	position: relative;
	z-index: 5;
}
#site-title-link { // Logo
	background: url(../images/logo.png) no-repeat;
	display: block;
	height: 74px;
	left: -50px;
	position: relative;
	text-indent: -1000em;
	width: 234px;
}

// Home Header
.home {
	#header-wrap {
		margin-top: 5em;
	}
	#welcome-notice a {
		color: @bg;

		&:hover {
			background: @bg;
			color: @link;
		}
		&.button {
			color: @link;
		}
	}
	#header-bottom {
		background-position: bottom center;
		height: 400px;
	}
	#access {
		a {
			color: @link;
		}
	}
	#access {
		left: 17%;
		position: absolute;
		top: -4.25em;
	}
	#logo {
		position: absolute;
		top: -6.5em;
	}
	#site-title-link {
		background: url(../images/logo-red.png) no-repeat;
		height: 134px;
		overflow: hidden;
		top: 24px;
		width: 290px;
	}
}
#welcome-notice {
	clear: left;
	color: @bg;
	
	> h1 {
		border-bottom: 3px solid @link-active - 10;
		color: @bg;
		.em-font-size(36);
		position: relative;
		.em-padding-3(72, 0, 10, 36); // 58px 0 10px
		.em-margin-bottom(16, 36); // 16px
	
		&:after { // Makes double border
			border-bottom: 1px solid @link-hover;
			bottom: -4px;
			content: '';
			display: block;
			position: absolute;
			width: 100%;
		}
	}
	> p {
		.em-margin-top(24);
	}
	.button {
		background-color: @bg;

		&:hover {
			background-color: @bg - 20;
		}
	}
	> small {
		background: url(../images/showoff.png) no-repeat;
		color: @bg;
		display: block;
		height: 66px;
		margin-top: 4.3em;
		padding-bottom: 4em;
		text-indent: -1000em;
		width: 305px;
	}
}
// Slideshow
.slides_container { //set width and display none
	border: 10px solid @bg;
	display: none;
	margin-top: 3.5em;
	overflow: hidden;
	position: relative;
	width: 97%;
}
.slides_container img { // set width height and block
	height: 380px;
	display:block;
	width: 570px;
}
.pagination {
	border: 10px solid transparent;
	height: 0;
	margin: 0.4em 0 2.5em;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 5;
}

.pagination li {
	display: inline-block;
	margin: 0 0.4em;
	list-style:none;
}

.pagination li a {
	display:block;
	width: 17px;
	height:0;
	padding-top: 17px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -17px;
}
#slides {
	padding-bottom: 0.7em;
}


/* =Menu
-------------------------------------------------------------- */
#access {
	.em-font-size(18, 16);
	padding: 1em 0;
	position: relative;
	z-index: 999999;

	a {
		color: @bg;
		text-transform: uppercase;
	}
}
#access ul {
	float: right;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
#access li {
	float: left;
	position: relative;
}
#access a {
	display: block;
	line-height: 2em;
	padding: 0 1.6em;
	text-decoration: none;
}
#access ul ul {
	box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.2);
	display: none;
	float: left;
	position: absolute;
	top: 2em;
	left: 0;
	z-index: 99999;
}
#access ul ul ul {
	left: 100%;
	top: 0;
}
#access ul ul a {
	background-color: @link - 30;
	line-height: 1em;
	padding: 0.8em .5em 0.8em 1em;
	width: 12em;
	height: auto;
	text-transform: capitalize;
}
#access li:hover > a,
#access ul ul :hover > a {
	background: @link - 30;
}
#access ul ul a:hover {
	background: @link - 10;
}
#access ul li:hover > ul {
	display: block;
}
.home {
	#access ul ul a {
		background-color: @bg;
	}
	#access li:hover > a,
	#access ul ul :hover > a {
		background: @bg - 15;
	}
	#access ul ul a:hover {
		background: @bg - 10;
	}
}


/* =Content
-------------------------------------------------------------- */
.entry-content a > img {
	border: 3px solid @border-brown;
	display: block;
}
.entry-meta {
	clear: both;
	display: block;
	margin-top: 1em;
}
.single-author .entry-meta .byline {
	display: none;
}
#content nav {
	display: block;
	overflow: hidden;
}
#content nav .nav-previous {
	float: left;
	width: 50%;
}
#content nav .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}
#content #nav-above {
	display: none;
}
.paged #content #nav-above,
.single #content #nav-above {
	display: block;
}
.navigation, #nav-below {
	margin: 2em 0 0;
}
.page-link {
	clear: both;
	margin: 0 0 1em;
}
.page .edit-link {
	clear: both;
	display: block;
}
.entry-thumbnail {
	border: 3px solid @border-brown;
	border-top: none;
	display: block;
	.em-font-size(30);
	max-height: 9em;
	position: relative;
	.em-top(-13, 30);

	+ .entry-meta {
		margin-top: 0.5em;
	}
}
.image-wrap {
	overflow: hidden;

	img {
		display: block;
		width: 100%;
	}
}

/* 404 page */

.error404 .widget_tag_cloud {
	clear: both;
	float: none;
	width: 100%;
}

/* Notices */
.post .notice,
.error404 #searchform {
	display: block;
}

/* Image Attachments */
.image-attachment {
	.attachment {
		margin-right: 2px;

		img {
			width: 100%;
		}
	}
}
.image-control > a {
	display: inline-block;
	padding: 1em 0;
}
#image-navigation {
	min-width: 0;
}
.next-image {
	text-align: right;
}

/* Aside Posts */
.format-aside .entry-thumbnail {
	display: none;
}
.single .format-aside .entry-thumbnail {
	display: block;
}
.format-aside .entry-content,
.format-aside .entry-summary {
	padding-top: 1em;
}
.single .format-aside .entry-content,
.single .format-aside .entry-summary {
	padding-top: 0;
}

/* Gallery Posts */
.format-gallery .gallery-thumb {
	float: left;
	margin: 0 1em 0 0;
}
#main #primary {
	.gallery-item {
		margin-top: 2%;

		img {
			display: inline-block;
			width: 90%;
		}
	}
}

/* Image Posts */
.format-image .entry-header {
	display: none;
}
.single .format-image .entry-header {
	display: block;
}
.format-image .entry-content,
.format-image .entry-summary {
	padding-top: 1em;
}
.single .format-image .entry-content,
.single .format-image .entry-summary {
	padding-top: 0;
}


/* =Images
-------------------------------------------------------------- */

a img {
	border: none;
}
p img {
	margin-bottom: 0.5em; /* a small bottom margin prevents content floating under images */
}
/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img,
.widget-area img,
.wp-caption {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
img.alignleft {
	margin-right: 1em;
}
img.alignright {
	margin-left: 1em;
}
.wp-caption {
	padding: .5em;
	text-align: center;
}
.wp-caption img {
	margin: .25em;
}
.wp-caption .wp-caption-text {
	margin: .5em;
}
.gallery-caption {
}
.wp-smiley {
	margin: 0;
}


/* =Forms
-------------------------------------------------------------- */

#searchform label {
	display: none;
}
#searchform input#s {
	width: 60%;
}
input[type=text],
input#s {
	border: 2px solid @border-brown-under;
	margin: 0.3em 1em 0 0;
	padding: 0.4em 0.7em;
	width: 100%;
}
textarea {
	border: 2px solid @border-brown-under;
	margin: 0 1em 0 0;
	padding: 0.4em 0.7em;
	width: 100%;
}

/* Class for labelling required form items */
.required {
	color: #cc0033;
}

// Stripe
input.inline-input {
	display: inline-block;
	width: 20%;

	+ span {
		margin-right: 1em;
	}
}
.stripe-providers {
	margin-left: 1em;
}
.payment-errors {
	display: none;
}
.payment-errors.has-errors {
	background-color: #f6ced1;
	border: 2px solid #f3b7bb;
	display: block;
}

/* =Comments
-------------------------------------------------------------- */

article.comment {
	display: block;
}
#respond input[type=text] {
	display: block;
	width: 60%;
}
#respond textarea {
	display: block;
	margin: 0 0 1em;
	width: 80%;
}
#respond .form-allowed-tags {
	clear: both;
	width: 80%;
}
#respond .form-allowed-tags code {
	display: block;
}


/* =Widgets
-------------------------------------------------------------- */

.widget {
	display: block;
}
.widget-area .widget_search {
	overflow: hidden;
}
.widget-area .widget_search input {
	float: left;
}


/* =Footer
-------------------------------------------------------------- */

#colophon {
	padding: 3em 0 0;
}
#ft-football {
	border-top: 3px solid @border-brown;
	position: relative;

	&:after { // Makes double border
		border-top: 1px solid @border-brown-under;
		top: 0;
		content: '';
		display: block;
		position: absolute;
		width: 100%;
	}

}
.ft-list { // Footer List
	border-top: 2px solid @event-border;
	color: @light-brown;
	list-style-type: none;
	line-height: 2.2em;
	padding: 0.6em 0;

	.twocol {
		margin-right: 1.2%;
	}
	a {
		color: @faded-brown;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
.ft-head {
	font-weight: bold;
	padding-left: 2%;
}

// Headings
h1, h2, h3, h4, h5, h6 {
	a {
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
#main h1 {
	border-bottom: 3px solid @border-brown;
	position: relative;
	.em-padding-3(32, 0, 10, 30); // 32px 0 10px
	.em-margin-bottom(14, 30); // 14px

	&:after { // Makes double border
		border-bottom: 1px solid @border-brown-under;
		bottom: -4px;
		content: '';
		display: block;
		position: absolute;
		width: 100%;
	}
}
.border-under { // Assign class for posts to have this border
	border-bottom: 3px solid @border-brown;
	position: relative;
	padding-bottom: 0.5em;
	margin-bottom: 0.5em;
	margin-top: 0.5em;

	&:after { // Makes double border
		border-bottom: 1px solid @border-brown-under;
		bottom: -4px;
		content: '';
		display: block;
		position: absolute;
		width: 100%;
	}
}
.border-light { // Light border, such as events
	border-bottom: 3px solid @event-border;
	margin-bottom: 0.8em;
	margin-top: 0.3em;
}
// Buttons
.button, #comment-button {
	background-color: @btn-bg;
	border: 0;
	display: inline-block;
	color: #fff;
	.em-font-size(14, 16);
	.em-padding-2(11, 16);
	text-decoration: none;

	&:hover {
		background-color: @btn-bg-hover;
	}
	&:active {
		position: relative;
		top: 1px;
	}
	&.super { // red (highlighted) buttons
		background-color: @btn-super-bg;

		&:hover {
			background-color: @btn-super-bg-hover;
		}
	}
	+ .button { // separate two buttons that are next to each other
		margin-left: 1em;
	}
	&.green { // payment buttons
		background-color: @btn-green-bg;

		&:hover {
			background-color: @btn-green-bg-hover;
		}
	}
}

// Lists
.list-plain {
	list-style-type: none;

	&.horizontal {
		.clearfix();

		> li {
			float: left;

			+ li {
				margin-left: 1em;
			}
		}
	}
}
// Post
.post {
	.entry {
		color: #635f49;

		p:first-child {
			color: @black;
		}
	}
}
.entry-meta > a {
	text-decoration: none;
	color: @faded-brown;

	&:hover {
		text-decoration: underline;
	}
}
.page .entry-date {
	&:after {
		content: '•';
		padding: 0 1em;
	}
}
.post-edit-link {
	&:before {
		content: '•';
		padding: 0 1em;
	}
}
// Comments
#comments {
	margin-top: 2em;
}
// Widgets
.widget {
	.clearfix();
}
#secondary + #tertiary {
	width: 56.75%;
	margin-right: 0;
}
.football-team-list {
	margin-bottom: 0;

	.score-list-item + .score-list-item {
		margin-top: 0.5em;
		padding-top: 0.5em;
	}
}
// Widget Thumb (Coaches)
.widgetThumb {
	float: left;
	margin: 0.2em 1.3em 0 0;
	width: 30%;
}
.widgetThumbText {
	margin-left: 30%;
	padding-left: 1.3em;
}
// Events Widget
.events-list {
	list-style-type: none;
}
.widget-event-li {
	> a {
		color: @light-brown;
		display: block;
		overflow: hidden;
		text-decoration: none;

		&:hover .widget-event-info {
			text-decoration: underline;
		}
	}
	+ .widget-event-li { // adjacent events
		border-top: 3px solid #d8d3b4;
		margin-top: 1em;
		padding-top: 1em;
	}
}
.widget-event-title {
	color: @black;
	padding-top: 1em;
}
.widget-event-date {
	background-color: @border-brown;
	float: left;
	margin-right: 1.3em;
	padding: 0.8em 1.4em;
	text-align: center;
}
.widget-event-day {
	color: @light-brown;
	.em-font-size(36);
	line-height: 0.8;
	margin-bottom: 0.3em;
}
.widget-event-month {
	color: #8d8a7b;
	text-transform: uppercase;
}
// Events Page
.em-location-map {
	border: 4px solid @event-border;
}
// Score Widget
.score-list {
	color: @light-brown;
	list-style-type: none;

	.home {
		display: table-cell;
		float: left;
		margin: 0 1.3em;
		vertical-align: middle;
		width: 3em;

		&.not img {
			opacity: 0;
		}
	}
	.score {
		float: right;
	}
	a {
		color: @black;
		display: block;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
.score-list-item {
	height: 2.5em;
	line-height: 2.5em;

	+ .score-list-item {
		border-top: 3px solid #d8d3b4;
		margin-top: 1em;
		padding-top: 1em;
	}
}
.scores-img-ph {
	height: 1px;
}
// Contact Form Styling
form {
	color: @light-brown;
}
.wpcf7 {
	div.wpcf7-response-output {
		padding: 0.6em 1.3em;
		margin: 2em 0;
	}
	
	div.wpcf7-mail-sent-ok {
		background-color: #c7dd9f;
		border: 2px solid #b3cb87;
	}
	
	div.wpcf7-mail-sent-ng {
		background-color: #f6ced1;
		border: 2px solid #f3b7bb;
	}
	
	div.wpcf7-spam-blocked {
		background-color: #ebe1a0;
		border: 2px solid #d3c87e;
	}
	
	div.wpcf7-validation-errors {
		background-color: #ebe1a0;
		border: 2px solid #d3c87e;
	}
	
	span.wpcf7-form-control-wrap {
		position: relative;
	}
	
	span.wpcf7-not-valid-tip {
		position: absolute;
		top: 20%;
		left: 20%;
		z-index: 100;
		background-color: #f6ced1;
		border: 2px solid #f3b7bb;
		width: 280px;
		padding: 2px;
	}
	
	span.wpcf7-not-valid-tip-no-ajax {
		color: @link;
		display: block;
		background-color: #f6ced1;
		border: 2px solid #f3b7bb;
		border-top: 0;
		font-size: 1em;
		padding: 0.6em 0.7em 0.7em;
		margin-right: 1em;
		width: 100%;
	}
	
	span.wpcf7-list-item {
		margin-left: 0.5em;
	}
	
	.wpcf7-display-none {
		display: none;
	}
	
	div.wpcf7 img.ajax-loader {
		border: none;
		vertical-align: middle;
		margin-left: 4px;
	}
	
	div.wpcf7 .watermark {
		color: #888;
	}
}
.wpcf7 {

	ol {
		list-style-type: none;

		> li {
			padding-bottom: 1.2em;
		}
	}
	legend {
		color: #000;
		padding-bottom: 0.6em;
		position: relative;
		width: 100%;
		
		> h4 {
			border-bottom: 3px solid @event-border;
			padding-bottom: 0.4em;
		}
	}
	p {
		margin-bottom: 0;
	}
	.form_hint {
		color: @faded-brown;
		font-size: 0.8em;
		margin-bottom: 0.8em;
	}
}
.wpcf7-form-control-wrap {
	display: block;
	margin-right: 1.5em;

	&.ch_birthmonth, &.ch_birthday {
		float: left;
	}
}
.ch_birthyear {
	margin-left: 13em;
}
.required_field {
	color: @faded-brown;
}
// Tables
table {
	width: 100%;
	border-color: @bg - 30;
	border-style: solid;
	border-left-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
}
thead {
	background: @event-border - 5;
	border-top: 1px solid @bg - 30;
	border-bottom: 1px solid @bg - 30;
}
tr:nth-child(2n) {
	background: @bg - 7;
	border-top: 1px solid @bg - 20;
	border-bottom: 1px solid @bg - 20;
}
td, th {
	padding: 0.7em 1em
}
#team-table {
	td:first-child {
		vertical-align: top;
	}
	a {
		color: @black;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}
.f-exception {
	color: @faded-brown;
}
// Coaches Page
.coaches-list {
	list-style-type: none;

	> li {
		margin-bottom: 8%;
	}
	img {
		float: left;
		margin-right: 3%;
		margin-top: 0.7%;
		width: 20%;
	}
}
.coach-right {
	margin-left: 23%;
}
// Forever Alone
#reg-steps {
	list-style-type: none;
}
.reg-step-strong {
	font-weight: bold;
}
p:empty {
	display: none;
}

// Media Queries

@media only screen and (max-width: 469px) {
	#logo {
		position: absolute;
		opacity: 0.3
	}
	#access {
		width: 100%;

		li {
			float: none;
		}
	}
	#access #menu-top-navigation {
		float: none;
		margin: 0 auto;
		text-align: center;
		width: 211px;
	}
	.home {
		#access {
			left: 0;
			top: -8em;
		}
		#logo {
			display: none;
		}
		.menu-item:nth-child(3) {
			display: none;
		}
		#header-wrap {
			margin-top: 9.6em;
		}
		.slides_container {
			img {
				height: 326px;
				width: 490px;
			}
		}
	}
}
@media only screen and (min-width: 470px) and (max-width: 620px) {
	#logo {
		position: absolute;
		opacity: 0.3
	}
	.home #access {
		left: 8%;
	}
}
@media only screen and (min-width: 580px) and (max-width: 768px) {	
	.home {
		.slides_container {
			img {
				height: 474px;
				width: 710px;
			}
		}
	}
}
@media only screen and (max-width: 767px) {	
	.row, body, .container {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol, #secondary + #tertiary {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}

	#logo {
		float: left;
		width: 23%;
	}
	#access {
		float: left;
	}
	.home {
		#logo {
			display: none;
		}
		#welcome-notice > h1 {
			padding-top: 1em;
		}
		#slides {
			padding-bottom: 1.5em;
		}
		.slides_container {
			margin-top: 2em;
		}
	}
	small#division-showoff {
		display: none;
	}
	#ft-football, #ft-cheer {
		display: none;
	}
	#page .container {
		padding-left: 0;
		padding-right: 0;
	}
}
@media only screen and (max-width: 768px) and (orientation: portrait) { // iPad portrait
	body {
		font-size: 16px;
		-webkit-text-size-adjust: none;
	}
	.row, body, .container {
		width: 100%;
		min-width: 0;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.row .onecol, .row .twocol, .row .threecol, .row .fourcol, .row .fivecol, .row .sixcol, .row .sevencol, .row .eightcol, .row .ninecol, .row .tencol, .row .elevencol, .row .twelvecol {
		width: auto;
		float: none;
		margin-left: 0px;
		margin-right: 0px;
		padding-left: 20px;
		padding-right: 20px;
	}
	#logo {
		float: left;
		width: 23%;
	}
	.home {
		#logo {
			display: none;
		}
		#slides {
			padding-bottom: 1.5em;
		}
		.slides_container {
			margin-top: 2em;
		}
		#welcome-notice > h1 {
			padding-top: 1em;
		}
	}
	#access {
		float: left;
	}
	small#division-showoff {
		display: none;
	}
	#page .container {
		padding-left: 0;
		padding-right: 0;
	}
}
@media only screen and (max-width: 830px) { // Fixes Menu
	.menu-item:last-child {
		display: none;
	}
}
@media only screen and (max-width: 980px) { // Fixes Menu
	.menu-item:nth-child(1) {
		display: none;
	}
}
@media only screen and (max-width: 1024px) {
	body {
		.em-font-size(14);
	}
	#access {
		padding: 1.3em 0;
	}
	#welcome-notice h1 {
		.em-font-size(30);
		padding-top: 2.5em;
	}
	.slides_container {
		height: 300px;
		margin-top: 5em;
	}
	.home {
		#logo {
			top: -7.1em;
		}
		#access {
			padding: 1em 0;
		}
		#site-title-link {
			top: 18px;
		}
	}
	.ft-list {
		padding: 1em 0;
	}
	.container {
		padding-left: 30px;
		padding-right: 30px;
	}
	.hide-1024 {
		display: none;
	}
}
@media only screen and (max-width: 1140px) { // Fixes Menu
	#access a {
		padding: 0 1.2em;
	}
}